.App-header {
    padding-top: 2rem;
    box-sizing: border-box;
}

.app-container {
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.home-tab-header button {
    background: transparent;
    border: none;
    color: white;
    padding: 0.5rem 2rem;
    border-bottom: 1px solid;
    cursor: pointer;
    border-radius: 0.5rem 0.5rem 0 0;
}

.home-tab-header button.selected {
    background: #1a1d22;
}
